<%= form_for(@help_request) do |f| %>
  <% if @help_request.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@help_request.errors.count, 'error') %> prohibited this message from being sent:</h2>

      <ul>
      <% @help_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :email %>(required)
  <%=f.email_field :email, class: 'form-control form-control-inline space-bottom qa-email' %><br />

  <%= f.label :message %>(required)<br />
  <%=f.text_area :message, class: 'form-control form-control-inline space-bottom qa-message', id: 'help-request' %>

  <div class='actions'>
    <%= f.submit 'Submit', class:'btn btn-primary qa-submit' %>
  </div>


<% end %>
