<tr>
  <td><%= link_to @course.name, @course, class: "qa-course-#{@course.id}" %></td>
  <td><%= @course.id %></td>
  <td><%= @course.time.strftime("%I:%M %p") %></td>
  <td><%= @course.period %></td>
  <td><%= @course.section %></td>
  <td><%= @course.created_at.strftime("%A, %B %d, %Y, at %I:%M %p") %></td>
</tr>
